.sidebar {
  
  background-color: #D3D3D3; /* Adjust the background color as needed */
  padding: 20px;
  color: black; /* Text color */
  text-align: center;

}

.user-item {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
}

.user-item.odd {
  background-color: #007BFF; /* Background color for odd items */
}

.user-item.even {
  background-color: #28A745; /* Background color for even items */
}

.user-details {
  color: #fff; /* Text color inside each user box */
  text-decoration: none !important;
  
}

.user-item a {
  text-decoration: none;
  color: inherit;
}


