<!-- <p>userlist works!</p> -->

<div class="sidebar">
  <div class="user-list">
    <!-- <h3>User List</h3> -->
    <div *ngFor="let user of users; let even = even; let odd = odd" class="user-item" 
     (click)="UserClick(user.id, user.name)" [ngClass]="{ 'odd': odd, 'even': even, 'selected-user': user.id === selectedUserId }">
   
    <!-- <a [routerLink]="['/chat/user', user.id]"> -->
      <div class="d-flex user-details">
        <div class="d-flex custom-user-image">
          <span>{{ user.name.charAt(0).toUpperCase() }}</span>

     </div>
      <p>{{ user.name }}</p>
       <!-- <p>{{ user.id }}</p> -->

      <!-- <small>{{ user.email }}</small> -->
    </div>
    </div>

    
   
  </div>
</div>



