<!-- <p>userlist works!</p> -->

<div class="sidebar">
  <div class="user-list">
    <h3>User List</h3>
    <div *ngFor="let user of users; let even = even; let odd = odd" class="user-item" 
    [ngClass]="{ 'odd': odd, 'even': even }" (click)="UserClick(user.id)">
    
    <!-- <a [routerLink]="['/chat/user', user.id]"> -->
      <div class="user-details">
      <p>{{ user.name }}</p>
       <!-- <p>{{ user.id }}</p> -->

      <small>{{ user.email }}</small>
    </div>
    </div>

    
   
  </div>
</div>



