.chat {
    display: flex;
    height: 100vh;
  }
  
  .user-list {
    flex: 1; 
    background-color: #D3D3D3; 
    padding: 20px;
    color: black;
  }
  
  .messages {
    flex: 3; 
    background-color: #f5f5f5; 
  }
  