.chat {
    display: flex;
    height: 100vh;

  }
  
  .user-list {
    flex: 1; 
    background-color: #D3D3D3; 
    padding: 0px;
    color: black;
    width: 25%;
  }
  
  .messages {
    flex: 3; 
    background-color: #f5f5f5; 
    margin-left: 45px;
  }
  