.container{
  background-color: #D3D3D3;
  height: 100vh;
}

.thread-header {
  text-align: center;
}

.thread-content {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  align-items: center;
  height: auto;
}


/* Send Chat Styles */
.send-chat {
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  width: 100%; /* Set the width to 100% */
}

.send-chat input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.send-button {
  background-color: #25d366;
  border: none;
  /* border-radius: 50%; */

  color: white;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}