<!-- thread.component.html -->
<div class="container">
  <div class="thread-header">
    <h1>Thread</h1>
  </div>
  <div class="thread-content">
    <!-- Your thread content goes here -->
    <div *ngIf="selectedMessage">
      <div>{{ selectedMessage }}</div>
      <!-- <small>{{ message.timestamp | date: 'medium' }}</small> -->
      <!-- Display other message details as needed -->
    </div>
    <div class="close-icon" (click)="closeThreadMessages()">
      <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
    </div>
    
  <div class="send-chat">
    <input type="text" placeholder="Type your message..." [(ngModel)]="messageContent"/>
    <button class="send-button" (click)="sendMessage()">Send</button>
  </div>

</div>